<% include top.ejs %>
<% include nav-about.ejs %>

    <div class="container" id="content">
        <div class="row" />
          <div class="col-md-12">
            <h1>About</h1>

            Web application visualising tweets about sunrise.<br />
            December 2014 - January 2015.<br />
            By <a href="http://lchsk.com">Maciek Lechowski</a>.
            <br /><br />
            <b>Libraries / frameworks / etc. used:</b>
            <ul>
              <li><a href="https://storm.apache.org/">Apache Storm</a></li>
                <li><a href="https://github.com/twitter/hbc">Hosebird Client</a></li>
                <li><a href="http://www.mongodb.com/">MongoDB</li>
                <li><a href="http://nodejs.org/">Node.js</a></li>
                <li><a href="http://expressjs.com/">Express</a></li>
                <li><a href="http://www.embeddedjs.com/">EJS</a></li>
                <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                <li><a href="http://leafletjs.com/">Leaflet</a></li>
              </ul>
            </ul>
            Source code available at <a href="https://github.com/lchsk/sunrise-tweets">github.com/lchsk/sunrise-tweets</a>.
          </div>
      </div>

<% include bottom.ejs %>
