<% include top.ejs %>
<% include nav.ejs %>

    <div class="container-fluid" id="content">
        <div class="row" />
          <div class="col-md-2">
            <div class="form-app-mode" id="historical-form"><% include historical-form.ejs %></div>
            <!-- <div class="form-app-mode" id="live-form"><% include live-form.ejs %></div> -->
            </div>
          <div class="col-md-10">
            <div id="alerts"></div>
            <div class="mode-view" id="stats">
              <i>Charts below are generated dynamically (click <i>Show</i> to refresh) based on data obtained with settings on the left.</i><br />(This make take a while, depending on the range of dates)

              <h4>Number of tweets per country</h4>
              <div id="div-chart-countries"></div>

              <h4>Languages (as identified by Twitter)</h4>
              <div id="div-chart-t-langs"></div>

              <h4>Languages (as identified when searching for sunrise tweets)</h4>
              <div id="div-chart-s-langs"></div>

              <h4>Location data</h4>
              <h5>Legend: 0 - no location, 1 - coordinates attached to tweets, 2 - location from analysis of tweets' content, 3 - location from user's profile</h5>
              <div id="div-chart-location"></div>
              <br /><br />
            </div>
            <div class="mode-view" id="map" style="height: 550px;"></div>
            <div class="mode-view" id="list">
              <div class="container-fluid">
                <div class="row" id="list-data"></div>
              </div>
            </div>
          </div>
      </div>
<% include modal.ejs %>
<% include bottom.ejs %>
