    <nav class="navbar navbar-default" id="navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= host %>">Sunrise Tweets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li><a class="nav-app-mode" id="nav-historical" href="#"><span class="glyphicon glyphicon-time"></span> Browse data<span class="sr-only">(current)</span></a></li> -->
            <li><a class="nav-app-mode" data-state="off" id="nav-live" href="#"><span class="glyphicon glyphicon-play"></span> Start system</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-globe"></span> Show <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="nav-location" country="United Kingdom"><a href="#">United Kingdom</a></li>
                <li class="nav-location" country="Poland"><a href="#">Poland</a></li>
                <li class="nav-location" country="United States"><a href="#">United States</a></li>
                <li class="nav-location" country="Italy"><a href="#">Italy</a></li>
                <li class="nav-location" country="Australia"><a href="#">Australia</a></li>
                <li class="divider"></li>
                <li class="nav-location" country="Europe"><a href="#">Europe</a></li>
                <li class="nav-location" country="The Caribbean"><a href="#">the Caribbean</a></li>
                <li class="nav-location" country="World"><a href="#">World</a></li>
              </ul>
            </li>
            <li><a id="nav-about" href="<%= host %>/about"><span class="glyphicon glyphicon-user"></span> About</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
